<div class="card">
    <div class="card-header">
        {{ pageTitle }}
    </div>

    <div class="card-body" *ngIf="product">
        <div class="wizard">
            <a [routerLink]="['info']" routerLinkActive="active">Basic Information</a>
            <a [routerLink]="['tags']" routerLinkActive="active">Search Tags</a>
        </div>
        <router-outlet></router-outlet>
        <button
            class="btn btn-primary mr-3"
            style="width: 80px"
            type="button"
            title="Save your entered data"
            [disabled]="!isValid()"
            (click)="saveProduct()"
        >
            Save
        </button>
        <button
            class="btn btn-secondary mr-3"
            style="width: 80px"
            type="button"
            title="Cancel edits"
            [routerLink]="['/products']"
        >
            Cancel
        </button>
        <button
            class="btn btn-warning"
            style="width: 80px"
            type="button"
            title="Delete this product"
            (click)="deleteProduct()"
        >
            Delete
        </button>
    </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
