<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand'>{{pageTitle}}</a>
            <ul class='nav navbar-nav'>
                <li routerLinkActive="active"><a [routerLink]="['/welcome']">Home</a></li>
            </ul>
            <ul class='nav navbar-nav' *ngIf="authService.isLoggedIn()">
                <li routerLinkActive="active"><a [routerLink]="['/products']" >Product List</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/productEdit', 0]" routerLinkActive="active">Add Product</a></li>
                <!--<li><a [routerLink]="['/productEdit', 0, {operation: 'add'}]">Add Product</a></li>-->
            </ul>
            <ul class='nav navbar-nav navbar-right'>
                <li *ngIf="!authService.isLoggedIn()">
                    <a (click)="logIn()">Log In</a>
                </li>
                <li *ngIf="authService.isLoggedIn()">
                    <a [routerLink]="['/login']">Welcome {{ authService.currentUser.userName }}</a>
                </li>
                <li *ngIf="authService.isLoggedIn()">
                    <a (click)="logOut()">Log Out</a>
                </li>
                <li>
                    <div class="navbar-text" style="color:darkorange" *ngIf="loading">Loading...</div>
                </li>
            </ul>
        </div>
    </nav>
    <div class='container'>
        <div class="row">
            <div class="col-md-10">
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-2">
                <router-outlet name="popup"></router-outlet>
            </div>
        </div>
    </div>
</div>