<div class="panel-body">
    <fieldset formGroupName="infoGroup">
        <legend>Basic Product Information</legend>
        <div class="form-group" 
                [ngClass]="{'has-error': (productForm.get('productName').touched || 
                                        productForm.get('productName').dirty) && 
                                        !productForm.get('productName').valid }">
            <label class="col-md-2 control-label" 
                    for="productNameId">Product Name</label>

            <div class="col-md-8">
                <input class="form-control" 
                        id="productNameId" 
                        type="text" 
                        placeholder="Name (required)"
                        required
                        minlength="3"
                        formControlName='productName' />
                <span class="help-block" *ngIf="(productForm.get('productName').touched ||
                                                    productForm.get('productName').dirty) &&
                                                    productForm.get('productName').errors">
                    <span *ngIf="productForm.get('productName').errors.required">
                        Product name is required.
                    </span>
                    <span *ngIf="productForm.get('productName').errors.minlength">
                        Product name must be at least three characters.
                    </span>
                </span>
            </div>
        </div>
        
        <div class="form-group" 
                [ngClass]="{'has-error': (productForm.get('productCode').touched || 
                                        productForm.get('productCode').dirty) && 
                                        !productForm.get('productCode').valid }">
            <label class="col-md-2 control-label" for="productCodeId">Product Code</label>

            <div class="col-md-8">
                <input class="form-control" 
                        id="productCodeId" 
                        type="text" 
                        placeholder="Code (required)"
                        required
                        formControlName='productCode' />
                <span class="help-block" *ngIf="(productForm.get('productCode').touched ||
                                                    productForm.get('productCode').dirty) &&
                                                    productForm.get('productCode').errors">
                    <span *ngIf="productForm.get('productCode').errors.required">
                        Product code is required.
                    </span>
                </span>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-2 control-label" for="descriptionId">Description</label>

            <div class="col-md-8">
                <textarea class="form-control" 
                        id="descriptionId" 
                        placeholder="Description"
                        rows=3
                        formControlName="description"></textarea>
            </div>
        </div>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </fieldset>
</div>