<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <div class="panel-body">
        <div class="wizard">
            <a [routerLink]="['info']">
                Basic Information
            </a>
            <a [routerLink]="['tags']">
                Search Tags
            </a>
        </div>

        <form class="form-horizontal"
              novalidate
              (ngSubmit)="saveProduct()"
              #productForm="ngForm" >
            <router-outlet></router-outlet>
        </form>
    </div>
                
    <div class="panel-footer">
        <div class="row">
            <button class="col-md-1 btn btn-default"
                    style="margin-left:15px;"
                    (click)="goBack()"
                    [disabled]="disableBack()">
                <span class="glyphicon glyphicon-chevron-left" style="font-size:12px"></span>
                Back
            </button>
            <div class="col-md-6 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            type="button"
                            style="width:80px;margin-right:10px"
                            [disabled]=!productForm.valid
                            (click)="saveProduct()">
                        Save
                    </button>
                </span>
                <span>
                    <a class="btn btn-default"
                        style="width:80px"
                        [routerLink]="['/products']">
                        Cancel
                    </a>
                </span>
                <span>
                    <a class="btn btn-default"
                        style="width:80px"
                        (click)="deleteProduct()">
                        Delete
                    </a>
                </span>       
            </div>
            <button class="col-md-1 btn btn-default pull-right"
                    style="margin-right:15px;"
                    (click)="goForward()"
                    [disabled]="disableForward()">
                Next
                <span class="glyphicon glyphicon-chevron-right" style="font-size:12px"></span>
            </button>
        </div>
    </div>

    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

</div>
{{ productForm.value | json }}
